*{
    box-sizing: border-box;

}

.box {
    background-color: white;
    font-size: 100px;
    text-align: center;
    text-shadow: 4px 4px 0 rgba(0,0,0,1);
}

.box1{background-color: skyblue;}
.box2{background-color: greenyellow ;}
.box3{background-color: orange ;}
.box4{background-color: red;}
.box5{background-color: blue;}
.box6{background-color: yellow ;}
.box7{background-color: purple;}
.box8{background-color: gray;}

.contents-container {
    display:flex;
    border:red 10px solid;
    height:100vh;
    align-items: flex-end;
    
}

.box {
    width: 33.333%;
}

.box2{
    padding-bottom:200px
}

.box4{
    padding-bottom: 150px;
}

.box6{
    padding-bottom: 100px;
}

.box8{
    padding-bottom: 50px;
}
    
 


    
    
    
